#dashboard{
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  align-items: center;    
}

.createTeamForm{
  display: flex;
  flex-direction: column;
  align-items:center;
  position: relative;
}

#teamInner{
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: #f3f5fb; */
}

#form-submit,
input[id="createTeamName"]{
 width : 25vh;
  padding: 5px;
  margin: 10px;
  box-sizing: border-box;
  display: block;
  border-radius: 1em;
}

#teamContainer{
  width: 80vw;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#Form{
  position: relative;
  top:-80px;
}

h4 {
  font-size: 22px;
}